body {
    box-sizing: border-box;
    background: #f3f5f7;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    font-family: "MCW XX", sans-serif;
    font-weight: 400;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.container {
    background: #ffffff;
    margin: 28px auto;
    padding: 10px 30px 40px 30px;
    max-width: 500px;
    text-align: center;
}
.code {
    width: 200;
}
#qr__code {
    margin-top: 24px;
}
.certificate__number {
    margin-top: 12px;
    color: #696c71;
    span {
        color: #0e0e0f;
        font-weight: 430;
    }
}
.result {
    margin: 10px 0;
    .result__title {
        font-size: 21px;
        font-weight: 650;
        color: #0e0e0f;
    }
}
.status {
    width: 100%;
    padding: 22px 30px;
    background-color: #13a14f;
    border-radius: 16px;
    text-align: center;
    .status-result {
        display: inline-block;
        padding: 6px 36px;
        background: #fff;
        border-radius: 16px;
        color: #000;
        font-size: 16px;
        font-weight: 400;
    }
}
.informations {
    // color: rgb(8, 8, 8);
    // font-weight: bold;
    font-size: 18px;
    h4 {
        font-weight: 500;
    }
    .informations__title {
        margin-top: 15px;
        span {
            font-weight: 500;
        }
    }
    
}
.for__print {
    margin: 40px 0;
    .for__print-link {
        font-size: 16px;
        color: #fff;
        padding: 15px 40px;
        background-color: #04c;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color .3s,box-shadow .3s;
    }
}
.apple__wallet {
    a {
        img {
            max-width: 155px;
            height: 48px;
        }

    }
}